{% extends 'base_simple.html' %}

{% block content %}
    <div class="valign-wrapper row login-box">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="card-content">
                    <span class="card-title">Connection</span>

                    {% if form.errors %}
                        <p>J'ai pas d'utilisateurs et de mots de passes qui vont avec ce que tu m'as donné.
                            Petit étourdit, tu voudrais pas recommencer avec les bonnes données ? :)</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Mouai mouai mouai, regardez ce petit malin !
                                Je crois que tu n'as pas accès à cette partie là.
                                Demande gentiment d'y avoir accès à la bonne personne,
                                et si elle est gentille, tu pourra revenir !</p>
                        {% else %}
                            <p>S'il te plaît, connecte-toi pour voir cette page.</p>
                        {% endif %}
                    {% endif %}


                    <div class="row">
                        <div class="input-field col s12">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="input-field col s12">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                    </div>
                </div>
                <a href="{% url 'password_reset' %}">On a oublié de mot de passe ?</a>
                <div class="card-action right-align">
                    <input type="reset" id="reset" class="btn-flat grey-text waves-effect"/>
                    <input type="submit" class="btn green waves-effect waves-light" value="Connection"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $("#reset").on("click", function () {
            $('label').removeClass('active');
        });
    </script>
{% endblock %}