{% extends 'base_simple.html' %}

{% block content %}
    <div class="middle">
    {% if form.errors %}
        <p>J'ai pas d'utilisateurs et de mots de passes qui vont avec ce que tu m'as donné.
            Petit étourdit, tu voudrais pas recommencer avec les bonnes données ? :)</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Mouai mouai mouai, regardez ce petit malin !
            Je crois que tu n'as pas accès à cette partie là.
            Demande gentiment d'y avoir accès à la bonne personne,
            et si elle est gentille, tu pourra revenir !</p>
        {% else %}
            <p>S'il te plaît, connecte-toi pour voir cette page.</p>
        {% endif %}
    {% endif %}

    <h3 class="panel-title">Connection</h3>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <button type="submit">Rejoindre le monde d'esteren</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        {% if not user.is_authenticated %}
            $("ul.nav.navbar-nav.navbar-right").css("display", "none");
        {% endif %}
    </script>
{% endblock %}