{% block content %}

<div class="row">

    {% for nation in nations %}


        <div class="col s12 m6 l6">
            <div class="z-depth-2 hoverable waves-effect waves-dark waves-block same-size">
                <div class="container">
                    <label class="radio">
                    <input type="radio" name="var_id[]" autocomplete="off" value=""/>
                    <h3>{{ nation.name }}</h3>
                    <p style="text-align: justify">{{ nation.description }}</p>
                        </label>
                </div>
                </div>
                </div>


    {% endfor %}
</div>

{% endblock %}