<div class="row">
    {% if creator.get_choosen_nation %}
        <a class="waves-effect waves-light btn" href="javascript:switch_tab('professions');">Suivant</a>
    {% endif %}
    {% for nation in nations %}
    <div class="col s12 m6 l6">
        <a href="{% url 'choose_nation' nation.id %}"
           class="{% if nation.id == creator.get_choosen_nation %}grey{% endif %} z-depth-2 hoverable waves-effect waves-dark waves-block same-size">
            <div class="container">
                <h3>{{ nation.name }}</h3>
                <p>{{ nation.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>