<div class="inventory-item-row">
  <span class="inventory-item-row__name">{{ item().name }}</span>
  @if (item().weight !== undefined) {
    <span class="inventory-item-row__weight">{{ item().weight }}</span>
  }
  @if (item().price) {
    <span class="inventory-item-row__price">{{ item().price }}</span>
  }
  @if (item().effect) {
    <span class="inventory-item-row__effect">{{ item().effect }}</span>
  }
  @if (item().addedBy === 'mj') {
    <span class="inventory-item-row__badge">ajouté par le MJ</span>
  }
  @if (editable()) {
    <button mat-icon-button type="button" aria-label="Modifier l'objet" (click)="edit.emit()">✎</button>
  }
  @if (removable()) {
    <button mat-icon-button type="button" aria-label="Supprimer l'objet" (click)="remove.emit()">✕</button>
  }
</div>
