<!-- Dropdown Structure -->
<ul id="dropdownCharacters" class="dropdown-content">
    <li><a href="/create_personage">Créer un nouveau personnage</a></li>
    <li><a href="#!">Mes Personnages</a></li>
</ul>

<ul id="dropdownProfile" class="dropdown-content">
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Deconnection</a></li>
</ul>

<nav>
    <div class="nav-wrapper grey darken-3">
        <a href="/" class="brand-logo center">
            <img src="{{ STATIC_URL }}img/esteren_set1_logo.png" alt="Les ombres d'Esteren"/>
        </a>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdownCharacters">Personnages<i class="material-icons right">arrow_drop_down</i> </a></li>
            <li style="float:right"><a class="dropdown-button" href="#!" data-activates="dropdownProfile">{{ user.username }}<i class="material-icons right">arrow_drop_down</i> </a></li>
        </ul>
    </div>
</nav>